<%= link_to '<- Home', '/' %>

<%= html.h1 user.name %>

<%= link_to 'Edit user', routes.edit_user_path(user.client_id) %>

<%=
  form_for :user, routes.users_path do
    hidden_field :api_token, value: user.api_token

    div class: 'controls' do
      submit 'Sync'
    end
  end
%>

<table>
  <tr>
    <th>IBAN</th>
    <th>Type</th>
    <th>Balance</th>
    <th>Pan</th>
  </tr>

  <% user.accounts.each do |account| %>
    <tr>
      <td><%= link_to account.iban, routes.user_account_path(user.client_id, account.id) %></td>
      <td><%= account.type %></td>
      <td><%= format_currency account.corrected_balance_without_credit %></td>
      <td><%= account.masked_pan.join(', ') %></td>
    </tr>
  <% end %>
</table>

<% if defined?(account) %>
  <%= html.h2 "#{account.type}: #{format_currency account.corrected_balance_without_credit}" %>

  <%=
    form_for :user, routes.user_account_path(user.client_id, account.id), method: :patch do
      div class: 'controls' do
        submit 'Sync'
      end
    end
  %>

  <table>
    <tr>
      <th>Time</th>
      <th>Description</th>
      <th>Comment</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Commission rate</th>
      <th>Cashback amount</th>
      <th>Balance</th>
    </tr>

    <% statement_items_by_date.each do |(date, statement_items)| %>
      <tr>
        <th>
          <h4><%= date %></h4>
        </th>

        <th colspan="7">
          <% stats = calculate_statements_stats(statement_items) %>

          [
          + <%= format_currency stats[:in] %> |
          – <%= format_currency stats[:out] %> |
          Δ <%= format_currency stats[:delta] %>
          ]
        </th>
      </tr>

      <% statement_items.each do |statement_item| %>
        <tr>
          <td><%= format_time statement_item.time %></td>
          <td><%= statement_item.description %></td>
          <td><%= statement_item.comment %></td>
          <td>
            <%= mcc_info[statement_item.mcc].values.compact.join(' / ') %>
            <sup>MCC: <%= statement_item.edited_mcc || statement_item.mcc %></sup>
          </td>
          <td><%= format_currency statement_item.amount %></td>
          <td><%= format_currency statement_item.commission_rate %></td>
          <td><%= format_currency statement_item.cashback_amount %></td>
          <td><%= format_currency statement_item.balance %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
